@import "./index.scss";

.slotcard {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		$border_radius: 1rem;
		border-radius: $border_radius;
		max-width: 550px;
		$slotcard_padding: 1rem;
		&__header {
				padding: 0.5rem;
				padding-left: $slotcard_padding;

				font-weight: bold;
				border-top-right-radius: $border_radius;
				border-top-left-radius: $border_radius;
				&--blue {
						background-color: #0284C7;
				}
				
				&--red {
						background-color: #DC2626;
				}
				
				&--green {
						background-color: #16A34A;
				}
				
				&--orange {
						background-color: #EA580C;
				}
				
				&--purple {
						background-color: #C026D3;
				}
				color: white;
		}

		& > hr {
				margin: 0;
				padding: 0;
				background-color:#94A3B8; 
				height: 1px;
				border:none;
		}

		&__tutorinfo {
				display: flex;
				flex-direction: row;
				padding: $slotcard_padding;
				align-items: center;
				gap: 1rem;
				justify-content: flex-start;
				&__photo {
						background-color:grey;
						clip-path: circle(50%);
						width: 4.5rem;
						margin: 0;
				}

				&__attrs {
						display: flex;
						flex-direction: column;
						justify-content: center;
				}

				&__attr {
						color: #334155;
						&--name {
								font-size: 1.2rem;
								line-height: 0.9em;
								color: black;
								font-weight:600;
						}
				}
		}

		&__scheduleinfo {
				padding: $slotcard_padding;
				display: flex;
				flex-direction:column;
				gap: 0.25rem;
				&__row {
						display: flex;
						gap: 0.25rem;
						align-items: center;
						color: #334155;
						& > .material-icons {
								color: #64748B;
						}
				}
		}

		&__buttontray {
				background-color: #F1F5F9;
				padding: 0.5rem;
				padding-left: $slotcard_padding;

				display: flex;
				justify-content: space-between;
		}
}

.header {
		background-color: white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-bottom: 6px;

		&__content {
				padding:1rem;
				padding-left: 2rem;
				padding-right: 2rem;
				@include sm {
						padding-left: 4rem;
						padding-right: 4rem;
				}
				display: flex;
				align-items: center;
				gap: 1rem;
				max-width: 1000px;
				margin-left: auto;
				margin-right: auto;
		}


		&__content > * {
				font-size: 1.25rem;
				padding: 0;
				margin: 0;
				font-weight: normal;
		}

		&__icon {
				color: #334155;
		}

}

.customer_dashboard_main {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr;
		//background-color: #F8FAFC;
}
