@import "index.scss";

.hero {
	background-color: #1E293B;
	height: 80vh;
	color:white;
	display: flex;
	flex-direction: column;

	&__heading {
		&__container {
			position: absolute;
			width:100%;
		}

		width: 70rem;
		margin-left: auto;
		margin-right: auto;

		display:flex;
		justify-content: space-between;
		align-items: center;

		&__title {
			font-style: italic;
			font-size: 2.5rem;
			justify-self: flex-start;
		}
	}

	&__content {
		flex-grow: 1;
		width: 70rem;
		margin-left: auto;
		margin-right: auto;

		display: inline-grid;
		grid-template-columns: 50% 50%;

		&__quote {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;

			&__title {
				font-size: 2.5rem;
				line-height: 1rem;
			}

			&__text {
				color: #F8FAFC;
				font-size: 2rem;
				font-weight: 600;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}

			&__credit {
				display:flex;
				gap: 1rem;
				align-items: center;

				&__image {
					width: 4.75rem;
					border-radius: 4.75rem;
					opacity: 0.8;
					border: 2px solid white;
				}

				&__details {
					display: flex;
					flex-direction: column;
					&__name {
						line-height: 1rem;
						font-weight: 700;
						font-size: 1.5rem;
					}

					&__desc {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
			}
		}
	}

	&__payflow_container {
		display:flex;
		flex-direction:column;
		justify-content: center;
	}

	&__payflow {
		border: 2px solid #000000;
		box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
	}
}
