@import "./index.scss";
@import "./Meeting.scss";

.tutor {
	display: flex;
	flex-direction: column;
	background-color: #E2E8F0;
	padding: 1.5rem;
	border-radius: 0.5rem;
	gap: 1rem;

	&__section {
		display: flex;
		flex-direction: column;
		&--top {
			flex-direction: row;
			gap: 1rem;
		}
		&__title {
				font-weight: 600;
		}
	}
	&__profile {
		width: 5rem;
		height: 5rem;
		clip-path: circle();
	}


	&__details {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__name {
			font-weight: 600;
		}
	}
}

.tutorpanel {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	height: 100vh;

	gap: 0rem;
	@include sm {
		flex-direction: row;
		align-items:stretch;
		gap: 1rem;
	}

	@include md {
		gap: 2rem;
	}
	
	@include xl {
		gap: 4rem;
	}

}

.booking_container {
	min-width: 20rem;
	display:flex;
	flex-direction: column;
	gap: 1rem;
	flex-grow:1;
	overflow: scroll;
	padding: 2rem;
	@include sm {
		height: default;
		padding: 0rem;
	}


	&__title {
		color: hsla(215, 19%, 35%, 1);
		font-weight: 600;
		font-size: 2.5rem;
		@include sm {
			padding-top: 5rem;
			font-size: 1.5rem;
		}
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		&__addbutton {
			display: flex;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			background-color: #a7f3d0;
			color: #064e3b;
			width: 3rem;
			height: 3rem;
			@include sm {
				width: 2rem;
				height: 2rem;
			}
			clip-path: circle();
		}
	}

	&__bookings {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__tutors {
		display: grid;
		grid-template-columns: 1fr;
		@include sm {
			grid-template-columns: 1fr 1fr;
		}
		gap: 1rem;
	}
}

.sidebar {
	background-color: #F8FAFC;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;

	width: 100vw;

	@include sm {
		min-height: 100vh;
		width: 20rem;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__profilecard {
		justify-self: flex-start;
		flex-direction: row;
		align-self: center;
		gap:2rem;
		justify-content: center;
		@include sm {
			width: 100%;
			padding-top:2rem;
			padding-bottom:2rem;
		}
		display: flex;


		&__photo {
			width: 4rem;
			@include sm {
				width: 5rem;
			}
			clip-path: circle();
		}

		&__info {
			font-size: 1.5rem;
			display: none;
			@include sm {
				display: flex;
			}
			flex-direction: column;
			justify-content: center;
		}

		&__name {
			font-weight: 500;
		}

		&__role {
			color: #334155;
		}
	}

	&__buttons {
		justify-self: center;
		display: flex;
		align-items: flex-end;
		gap: 2rem;
		@include sm {
			align-items: flex-start;
			flex-direction: column;
			gap: 1rem;
		}
	}

	&__button {
		font-weight: 500;
		display: flex;
		@include sm {
			flex-direction: row;
		}
		flex-direction: column-reverse;
		height:7rem;
		align-items: center;
		gap: 1rem;
		font-size: 4rem;
		@include sm {
			font-size: 1.5rem;
			height:3rem;
		}
		cursor: pointer;

		&__text {
			color: #475569;
			display: none;
			@include sm {
				display: block;
			}
		}

		&__icon {
			//font-size: 1.75rem;
			color: #64748B;
			display: flex;
			align-items: center;
		}

		&__indicator {
			background-color: #94A3B8;
			height: 0.75rem;
			width: 100%;

			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;

			@include sm {
				width: 0.75rem;
				height: 100%;
				border-top-left-radius: 0;

				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
			visibility: hidden;

			&--active {
				visibility: visible;
			}
		}
	}
}
