@import "./index.scss";
@import "./Meeting.scss";

.tutorpanel {
	display: flex;
	gap: 4rem;
	align-items:stretch;
}

.booking_container {
	display:flex;
	flex-direction: column;
	gap: 1rem;
	&__title {
		color: hsla(215, 19%, 35%, 1);
		font-weight: 600;
		font-size: 1.5rem;
		padding-top: 5rem;
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		&__addbutton {
			display: flex;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			background-color: #E2E8F0;
			width: 2rem;
			height: 2rem;
			clip-path: circle();
		}
	}

	&__bookings {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.sidebar {
	background-color: #F8FAFC;
	width: 20rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__profilecard {
		display: flex;
		flex-direction: row;
		align-self: center;
		padding-top:2rem;
		padding-bottom:2rem;
		gap:2rem;
		justify-content: center;
		width: 100%;

		&__photo {
			width: 5rem;
			clip-path: circle(2.5rem);
		}

		&__info {
			font-size: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__name {
			font-weight: 500;
		}

		&__role {
			color: #334155;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__button {
		font-weight: 500;
		display: flex;
		flex-direction: row;
		height:3rem;
		align-items: center;
		gap: 1rem;
		font-size: 1.5rem;
		cursor: pointer;

		&__text {
			color: #475569;
		}

		&__icon {
			//font-size: 1.75rem;
			color: #64748B;
			display: flex;
			align-items: center;
		}

		&__indicator {
			background-color: #94A3B8;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
			width: 0.75rem;
			height: 100%;
			visibility: hidden;

			&--active {
				visibility: visible;
			}
		}
	}
}
